#archivos a ignorar
.env*
logs/
bookings.db
*.sqlite3
flask-venv/
*.DS_Store
.DS_Store

# Entornos y cachés
.venv/
__pycache__/

# Bases SQLite
instance/*.db
removalist.db

# Config locales
.env
.env.production

# Archivos temporales / swap
*.swp
*.tmp
*.log

# Subidas de usuario (si llega el caso)
static/uploads/**